<div class="container" [class.independent]="isIndependent" [class.registered]="isRegistered" [class.inactive]="!isActive">
  <div class="details-container">
    <h2>{{ name }}</h2>
    <div class="date-time-container">
      <h4>{{ date }}</h4>
      <h4 id="time-range">{{ startTime }} - {{ endTime }}</h4>
    </div>
  </div>
  <h4 id="vol-need">Volunteers Needed: {{ volunteersNeeded }}</h4>
  <p *ngIf="event && event.description">{{ event.description }}</p>
  <button *ngIf="isActive" (click)="viewEventDetails()">View Event Details</button>
</div>