.container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr 2fr 1fr;
  border-radius: 15px;
  background-color: lightgrey;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 0.5s;
}

.container:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.independent {
  background-color: var(--tertiary);
}

.independent:hover {
  background-color: rgb(94, 94, 94);
}
