/* Global */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0px;
}

/* Global variables */
:root {
  --primary: lightgrey;
  --secondary: darkgrey;
  --tertiary: grey;

  --green: green;
  --dark-green: darkgreen;

  --blue: blue;
  --dark-blue: darkblue;

  --red: red;
  --dark-red: darkred;
}

/* Components */
input {
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 24px;
  width: 300px;
  padding: 8px;
}

label {
  font-size: 24px;
}

button {
  font-size: 24px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

input.checkbox {
  width: 25px;
  height: 25px;
}

.pop-up-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 15px;
  background-color: var(--secondary);
  border: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/* Colors */
.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-ltgrey {
  background-color: lightgrey;
}

.txt-white {
  color: white;
}

/* Properties */
.flow-vert {
  display: flex;
  flex-flow: column;
}

.flow-hori {
  display: flex;
}

.center-items {
  align-items: center;
}

.center-self {
  align-self: center;
}

/* Margins and Padding */
.mg-10 {
  margin: 10;
}

.shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.shadow-down {
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
}
