<div class="container">
  <app-header [currentUser]="currentUser"></app-header>
  <div class="main-container">
    <app-side-bar></app-side-bar>
    <!-- All the possible main views -->
    <div *ngIf="mainList == 'events'">
      <app-independent-event-list
        id="event-list"
        (selectEventEmitter)="selectEvent($event)">
      </app-independent-event-list>
    </div>
    <div *ngIf="mainList == 'users'">
      <h1>Users List</h1>
    </div>
    <div *ngIf="mainList == 'myDonations'">
      <h1>My Donations</h1>
    </div>
    <div *ngIf="mainList == 'myRegistrations'">
      <app-registrations-list></app-registrations-list>
    </div>
  </div>
  <div *ngIf="showAddEventComponent">
    <app-add-event></app-add-event>
  </div>
  <div *ngIf="showEventViewerComponent">
    <app-event-viewer [user]="currentUser" [event]="selectedEvent" (closeEmitter)="showEventViewerComponent = false"></app-event-viewer>
  </div>
  <div *ngIf="showMakeDonationComponent">
    <app-make-donation></app-make-donation>
  </div>
</div>