.container {
  margin: 0px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#event-list {
  width: 100%;
}
