<div class="container">
  <app-header [currentUser]="currentUser"></app-header>
  <div id="list-container">
    <app-program-list
      id="program-list"
      (selectProgramEmitter)="selectProgram($event)"
      (selectEventEmitter)="selectEvent($event)"
      (showAddProgramEmitter)="showAddProgramComponent = true"
      (showAddEventToProgramEmitter)="showAddEvent($event)">
    </app-program-list>
    <app-independent-event-list
      id="event-list"
      (selectEventEmitter)="selectEvent($event)"
      (showAddEventEmitter)="showAddEvent('')">
    </app-independent-event-list>
  </div>
  <div *ngIf="showAddEventComponent">
    <app-add-event (close)="showAddEventComponent = false" [programId]="programId"></app-add-event>
  </div>
  <div *ngIf="showAddProgramComponent">
    <app-add-program (close)="showAddProgramComponent = false"></app-add-program>
  </div>
  <div *ngIf="showEventViewerComponent">
    <app-event-viewer [user]="currentUser" [event]="selectedEvent" (closeEmitter)="showEventViewerComponent = false"></app-event-viewer>
  </div>
  <div *ngIf="showMakeDonationComponent">
    <app-make-donation></app-make-donation>
  </div>
</div>