.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 15px;
  padding: 10px;
}

h4 {
  text-align: center;
}

button {
  justify-self: center;
  width: 200px;
}
