.container {
  border-radius: 10px;
  padding: 15px;
  background-color: grey;
  display: flex;
  flex-flow: column;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.container > * {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
}

h3 {
  margin-top: 10px;
  text-align: center;
}

label {
  margin-bottom: 15px;
  text-align: center;
}

button {
  width: 50%;
  border: none;
  background-color: var(--blue);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
}

button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}
