<div class="container bg-ltgrey">
  <form>
    <h2 class="txt-center">Register</h2>
    <input type="text"
      name="username"
      id="username"
      placeholder="Username"
      class="center-self input-margin"
      [(ngModel)]="username">
    <input type="password"
      name="password"
      id="password"
      placeholder="Password"
      class="center-self input-margin"
      [(ngModel)]="password">
    <input type="password"
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Confirm password"
      class="center-self input-margin"
      [(ngModel)]="confirmPassword">
    <div id="type-container">
      <div class="checkbox-container">
        <label for="donor">Donor: </label>
        <input type="checkbox"
          name="donor"
          id="donor"
          class="checkbox"
          [(ngModel)]="donor"> 
      </div>
      <div class="checkbox-container">
        <label for="volunteer">Volunteer: </label>
        <input type="checkbox"
          name="volunteer"
          id="volunteer"
          class="checkbox"
          [(ngModel)]="volunteer"> 
      </div>
    </div>
    <div id="button-container">
      <button id="register" (click)="register()">Register</button>
      <h5 (click)="gotoLogin()" class="link">Already have an account? Click here</h5>
      <h5 (click)="gotoHome()" class="link">Continue without registering</h5>
    </div>
  </form>
</div>
