.container {
  width: 30%;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  border-radius: 15px;
}

h2 {
  text-align: center;
}

.input-margin {
  margin: 15px 50%;
  transform: translateX(-50%);
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  color: blue;
}
