<div class="pop-up-container">
  <h3 style="text-align: center;">Add Program</h3>
  <form class="flow-vert center-items">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" placeholder="Program Name" [(ngModel)]="name">
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" name="description" id="description" placeholder="Program Description" [(ngModel)]="description">
    </div>
    <div>
      <label for="dateStart">Start Date:</label>
      <input type="date" name="dateStart" id="dateStart" [attr.min]="currentDate" [(ngModel)]="dateStartString">
    </div>
    <div>
      <label for="dateEnd">End Date:</label>
      <input type="date" name="dateEnd" id="dateEnd" [attr.min]="currentDate" [(ngModel)]="dateEndString">
    </div>
    <button type="submit" (click)="addProgram()" class="bg-green txt-white">Add Program</button>
    <button (click)="cancel()" class="bg-red txt-white">Cancel</button>
  </form>
</div>
