<div class="pop-up-container">
  <h3 id="title">Add Event</h3>
  <form class="flow-vert center-items">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" placeholder="Event Name" [(ngModel)]="name">
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" name="description" id="description" placeholder="Event Description" [(ngModel)]="description">
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" name="date" id="date" [attr.min]="date" [(ngModel)]="date">
    </div>
    <div>
      <label for="date">Start Time:</label>
      <input type="time" name="timeStart" id="timeStart" [(ngModel)]="timeStartString">
    </div>
    <div>
      <label for="date">End Time:</label>
      <input type="time" name="timeEnd" id="timeEnd" [(ngModel)]="timeEndString">
    </div>
    <div>
      <label for="date">Volunteers Needed:</label>
      <input type="number" name="volunteersNeeded" id="volunteersNeeded" [(ngModel)]="volunteerCountRequirement">
    </div>
    <div id="button-container">
      <button id="cancel" (click)="cancel()">Cancel</button>
      <button id="add-event" type="submit" (click)="addEvent()">Add Event</button>
    </div>
  </form>
</div>