.container {
  width: 90%;
  margin-left: 10px;
}

.headings {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr;
  padding: 10px 30px;
  background-color: grey;
  width: 98%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.headings h3 {
  margin: 5px 0px;
  justify-self: center;
  text-align: center;
  align-self: center;
}

#list-title {
  text-align: center;
}

nav {
  height: 500px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
  border-bottom-left-radius: 10px;
}

#btn-add-program {
  width: 105%;
  background-color: lightgrey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#btn-add-program button {
  width: 90%;
  margin: 10px 30px;
}
