.container {
  margin-left: 50px;
  width: 50%;
}

h3 {
  text-align: center;
}

nav {
  height: 500px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
}

button {
  width: 90%;
}
