h2 {
  text-align: center;
}

.container {
  margin-top: 25px;
  width: 95%;
}

.active-container {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.inactive-container {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 15px;
}

.reg {
  margin-bottom: 10px;
}
