<div class="header flow-hori bg-ltgrey">
  <h2 style="margin: auto; width: 50%">Non-profit Oranization Bookeeping</h2>
  <!-- Do an ngIf logged in, for whether to show (login and register) or logout button -->
  <div *ngIf="currentUser; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <div style="margin-right: 25px; display: flex">
      <h4>Hello {{ currentUser.username }}</h4>
      <button (click)="logout()" class="bg-red txt-white">Logout</button>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="btn-group">
      <button (click)="gotoLogin()" class="bg-blue txt-white">Login</button>
      <button (click)="gotoRegister()" class="bg-green txt-white">Register</button>
    </div>
  </ng-template>
</div>
