<div class="container">
  <div class="details-container">
    <h2 id="name">{{ program.name }}</h2>
    <h4 id="date-range">{{ dateStart }} - {{ dateEnd }}</h4>
    <p *ngIf="program.description" id="description">{{ program.description }}</p>
    <button id="btn-view-details" (click)="viewProgramDetails()">View Program Details</button>
  </div>
  <hr *ngIf="hasEvents" noshade>
  <div *ngFor="let event of events" style="margin-bottom: 15px">
    <app-event (click)="selectEvent(event)" [event]="event"></app-event>
  </div>
  <button *ngIf="currentUser && currentUser.type == 'admin'" id="btn-add-event" (click)="addEventToProgram()">Add Event to Program</button>
</div>