.container {
  width: 30%;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

.input-margin {
  margin: 15px 50%;
  transform: translateX(-50%);
}

h5 {
  margin: 10px;
}

#login {
  border: none;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--blue);
  transition: background-color 0.5s;
}

#login:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  color: blue;
}
