<div class="pop-up-container container">
  <h2>Event Viewer</h2>
  <app-event-details [event]="event"></app-event-details>
  <div *ngIf="isRegistered != undefined && (user.type == 'volunteer' || user.type == 'both')">
    <app-volunteer-section [isRegistered]="isRegistered" (eventChangeEmitter)="refreshEvent()"></app-volunteer-section>
  </div>
  <div *ngIf="user.type == 'donor' || user.type == 'both'">
    <app-donor-section></app-donor-section>
  </div>
  <div style="display: flex;">
    <button (click)="close()" class="bg-red txt-white">Close</button>
    <div *ngIf="user != {}">
      <button (click)="save()" class="bg-green txt-white">Save</button>
    </div>
  </div>
</div>