<div class="container">
  <h2 id="list-title">Independent Event List</h2>
  <nav class="bg-ltgrey">
    <div *ngFor="let event of events" style="margin-bottom: 15px">
      <app-event (click)="selectEvent(event)" [event]="event"></app-event>
    </div>
  </nav>
  <div *ngIf="currentUser && currentUser.type == 'admin'; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <button (click)="addEvent()" id="btn-add-event">Add Event</button>
  </ng-template>  
  <ng-template #elseBlock>
    <div style="height: 20px;"></div>
  </ng-template>
</div>